#build{
    background-image: url("back-img.jpg");
    height: 400px;
   
    background-size: cover;
 
  background-attachment: fixed;
    background-repeat: no-repeat;
}
#rd{
    background: url("road.jpeg");
    height: 275;
   

}
#cr{
    width: 250;
}
#btn{
    background-color: green;
    border-radius: 50px;
    width:70;
    height: 70;
    border: 2px solid rgb(0, 0, 0);;
    margin-left: 600;
    margin-top: 20;
    transition: 00.25px;
    cursor: pointer;
    box-shadow: 0 9px rgb(12, 4, 4);
   
}

#btn:active{
    background-color: rgba(88, 214, 71, 0.925);
    box-shadow: 0 5px rgb(14, 15, 12);
    transform: translate(4px);
}
#bt{
    background-color: red;
    border-radius: 50px;
    width:70;
    height: 70;
    border: 2px solid rgb(0, 0, 0);;
    margin-right: 300;
    cursor: pointer;
    box-shadow: 0 9px rgb(12, 4, 4);
    margin-top: 20;
}
#bt:active{
    background-color: rgba(214, 80, 80, 0.945);
  
    transform: translate(4px);
}